 /** ---------------------------------- FONTS --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(155deg, #FAF2DA 0%, #FAF2DA 30%, #9AEDF4 100%);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/** --------------------------------- HEADER --------------------------------- */
header {
    width: 100%;
    height: 10%;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 40px 65px;
}

li {
    margin-right: 20px;
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #0d3f67;
}


/** ---------------------------------- MAIN ---------------------------------- */
.main__hero {
    display: flex;
}

.main__hero--description {
    width: 70vw;
    height: 90vh;
}

.main__hero h1 {
    color: #0d3f67;
    font-weight: 700;
    font-size: 60px;
    padding: 200px 100px;
}

.main__hero strong {
    color: #fe5f55;
    font-weight: 700;
    font-size: 70px;
}


.main_hero--image {
    width: 30vw;
    height: 90vh;
}

.light__yellow--circle {
    width: 250px;
    height: 250px;
    background-color: #faf2da;
    border-radius: 50%;
    position: relative;
    bottom: -400px;
    z-index: 1;
}

.yellow--circle {
    width: 150px;
    height: 150px;
    background-color: #fe5f55;
    border-radius: 50%;
    position: absolute;
    top: 430px;
    right: 250px;
    z-index: 2;
}

.web--page {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 100px;
    top: 530px;
    right: 270px;
}

.main__aboutMe {
    display: flex;
}

.main__aboutMe--photoContainer {
    width: 30%;
    height: fit-content;
    margin: auto 100px;
}

.aboutMe--photo, .aboutMe--socialMedia {
    text-align: center;
}

.photo--profile {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin: 0px 0 50px 0;
}

.sm--icon {
    width: 25px;
    height: 25px;
    margin: 20px 10px 150px 0;
}

.main__aboutMe--description {
    width: 70%;
}

.main__aboutMe--description  h1{
    padding: 30px 0;
}

.main__aboutMe--description  p{
    padding: 30px 50px 0 0;
    font-size: 20px;
}

.main__aboutMe--description  p strong{
    color: #6b48ff;
}

/* ---------------------------------- WORK ---------------------------------- */

.main__work {
    background: linear-gradient(155deg, #e4e0f8 0%, #e4e0f8 20%, #9aedf4 100%);
}


.work--project {
    width: 100%;
}

.project--titles {
    padding: 40px 0;
    text-align: center;
    /* border-bottom: 2px solid #6b48ff; */
}

.project {
    display: flex;
    padding: 20px;
    justify-content:space-around;
    flex-wrap: wrap;
}

#project--nft {
    background: url(./assets/nft-card.png) no-repeat;
    width: 500px;
    height: 480px;
    background-size: contain;
    display: block;
    border: 3px solid black;
}

#project--nft ul, #project--product ul {
    display: none;
}


#project--product {
    background: url(./assets/product-card.png) no-repeat;
    width: 500px;
    height: 480px;
    background-size: contain;
    display: block;
    border: 3px solid black;

}

#project--nft:hover ul, #project--product:hover ul {
    display: block;
    width: 367px;
    height: 397px;
    background-color: rgba(228, 224, 248, .9);
    text-align: center;
    margin: auto;
    border: 3px solid black;
}

#project--nft:hover ul li, #project--product:hover ul li{
    margin: 10px auto;
    height: 35%;
    vertical-align: middle;
}

#project--nft:hover ul li a, #project--product:hover ul li a{
    color: #0d3f67;
    font-size: 20px;
}

#project--nft:hover ul li a:hover, #project--product:hover ul li a:hover{
    border-bottom: 3px solid #fe5f55;
    font-size: 20px;
}