 /** ---------------------------------- FONTS --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(155deg, #FAF2DA 0%, #FAF2DA 30%, #9AEDF4 100%);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/** --------------------------------- HEADER --------------------------------- */
header {
    width: 100%;
    height: 10%;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 40px 65px;
}

li {
    margin-right: 20px;
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #0d3f67;
}


/** ---------------------------------- MAIN ---------------------------------- */
.main__hero {
    display: flex;
}

.main__hero--description {
    width: 70vw;
    height: 90vh;
}

.main__hero h1 {
    color: #0d3f67;
    font-weight: 700;
    font-size: 60px;
    padding: 200px 100px;
}

.main__hero strong {
    color: #fe5f55;
    font-weight: 700;
    font-size: 70px;
}


.main_hero--image {
    width: 30vw;
    height: 90vh;
}

.light__yellow--circle {
    width: 250px;
    height: 250px;
    background-color: #faf2da;
    border-radius: 50%;
    position: relative;
    bottom: -400px;
    z-index: 1;
}

.yellow--circle {
    width: 150px;
    height: 150px;
    background-color: #fe5f55;
    border-radius: 50%;
    position: absolute;
    top: 430px;
    right: 250px;
    z-index: 2;
}

.web--page {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 100px;
    top: 530px;
    right: 270px;
}

.main__aboutMe {
    display: flex;
}

.main__aboutMe--photoContainer {
    width: 30%;
    height: fit-content;
    margin: auto 100px;
}

.aboutMe--photo, .aboutMe--socialMedia {
    text-align: center;
}

.photo--profile {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin: 0px 0 50px 0;
}

.sm--icon {
    width: 25px;
    height: 25px;
    margin: 20px 10px 150px 0;
}

.main__aboutMe--description {
    width: 70%;
}

.main__aboutMe--description  h1{
    padding: 30px 0;
}

.main__aboutMe--description  p{
    padding: 30px 50px 0 0;
    font-size: 20px;
}

.main__aboutMe--description  p strong{
    color: #6b48ff;
}

/* ---------------------------------- WORK ---------------------------------- */

.main__work {
    background: linear-gradient(155deg, #e4e0f8 0%, #e4e0f8 20%, #9aedf4 100%);
}


.work--project {
    width: 100%;
}

.project--titles {
    padding: 20px;
    border-bottom: 2px solid #6b48ff;
}

.project--titles h2 {
    text-align: end;
}

.project {
    display: flex;
}

.project--photo img {
    width: 500px;
    height: 500px;
    padding: 30px;
}

.project--description {
    padding: 30px;
    display: block;
    width: 70vw;
}

.project--description ul {
    display: block;
}

.project--description a svg {
    width: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}